body {
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
}

a {
	color: white;
}

a :visited {
	color: white;
}

img {
    max-width: 200px;
    height: auto;
}

#card_image_div {
	padding: 24px;
	margin: 24px;
	display: inline-block;
}

#effect_implemented {
	margin: 24px;
	display: inline-block;
	background-color: green;
}

#effect_not_implemented {
	margin: 24px;
	display: inline-block;
	background-color: red;
}

#logo_container {
	align-items: center;
	text-align: center;
}

li {
    text-decoration: underline;
}

li > ul {
    text-decoration: underline;
}

li > ul > li:first-child {
    text-decoration: underline;
}

.li_spacing {
	margin: 10px;
}

#div_keycode, #div_bugreports {
	display: inline-block;
/* 	margin: 10px; */
	width: 50%;
	margin: auto;
	padding: 10px;
	border: 4px solid white;

}

#li_effect {
	background-color: green;
	
}

#li_noeffect {
	background-color: orange;
}

#li_monster {
	background-color: green;
}